<h2>TO DO APP</h2>
<%= link_to "CREATE NEW TASK", "/tasks/new" %>
<h2> [TASK LIST] </h2>
<% @tasks.each do |task| %>
<ul>
  <li><%= task.title %><br><%= link_to "DELETE", "/tasks/" + task.id.to_s, data: { turbo_method: :delete } %></li>
</ul>
<% end %>
